<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}'s Genres Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/Spotify_Logo_RGB_Black.png') }}" alt="Spotify Logo">
    </header>
    
    <main>
        <h1>{{ name }}'s Genres Analysis</h1>
        <p>Details about {{ name }}'s favorite genres will go here. </p>
    </main>
    
    <footer>
        <p>Spotify Data Analysis | Dash Kim</p>
    </footer>
</body>
</html>